a.*
bin/a.*
bin/game.*
game
bin/game
*/resources/txtFiles/custom.txt
*/resources/txtFiles/progress.txt
*/resources/txtFiles/playerName.txt
bin/*.dll
.vscode
.vs
test.cpp
resources/library/lib/
resources/library/include/